html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: purple;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex: 2 20 50px;
    width: 663px;
    height: 663px;
  }
section{
    display: flex;
    flex-wrap: wrap;

}

