.one {
    margin: 100px 200px 50px 200px;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    transition: width 2s, height 2s, transform 2s;
  }
  .two {
    margin: -150px 0px 0px 300px;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 0);
    transition: width 2s, height 2s, transform 2s;
  }
  .three {
    margin: -1px 0px 0px 200px;
    width: 100px;
    height: 100px;
    background: rgb(0, 42, 255);
    transition: width 2s, height 2s, transform 2s;
  }
  .four {
    margin: -100px 0px 0px 300px;
    width: 100px;
    height: 100px;
    background: rgb(5, 90, 56);
    transition: width 2s, height 2s, transform 2s;
  }
  .five {
    margin: -150px 0px 0px 250px;
    width: 100px;
    height: 100px;
    background: rgb(0, 0, 0);
    transition: width 2s, height 2s, transform 2s;
    z-index: -5000;
  }
  .five:hover {
    
    transform: translateX(0px) rotate(90deg) translateY(100px);
  }