.one {
    margin: 100px 200px 50px 200px;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    transition: width 2s, height 2s, transform 2s;
  }
  .two {
    margin: -150px 0px 0px 300px;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 0);
    transition: width 2s, height 2s, transform 2s;
  }
  .three {
    margin: 0px 0px 0px 200px;
    width: 100px;
    height: 100px;
    background: rgb(0, 42, 255);
    transition: width 2s, height 2s, transform 2s;
  }
  .four {
    margin: -100px 0px 0px 300px;
    width: 100px;
    height: 100px;
    background: rgb(5, 90, 56);
    transition: width 2s, height 2s, transform 2s;
  }
  .main {
    margin: -100px 0px 0px 100px;
    width: 200px;
    height: 200px;
    opacity: .5;
    background-color: rgba(0,0,0,.5);
    
    /*transition: width 2s, height 2s, transform 2s;*/
  
  }
  
  .one:hover {
    
    transform: translateX(0px) rotate(90deg) translateY(100px);
  }
  .two:hover {
    
    transform: translateX(0px) rotate(-90deg) translateY(100px);
  }
  .three:hover {
    
    transform: translateX(100px) rotate(-90deg) translateY(0px);
  }
  .four:hover {
    
    transform: translateX(100px) rotate(90deg) translateY(0px);
  }
  h1{
    position: relative;
    margin: -120px 0px 0px 290px;
    z-index: -100;
  }
